@font-face {
    font-family: mario256;
    src: url("../fonts/SuperMario256.ttf");
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/giphy.gif'); /* Background pattern from Subtle Patterns */
    font-family: mario256, cursive;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
  height:90px;
}

h1 {
    font-family: mario256;
    font-weight: 300;
    color: #00008B;
    background: linear-gradient(160deg, #ADFF2F 0%, #1E90FF 100%);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

h2 {
    font-size: 64;
    display: block;
    position:relative;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.7);
    margin-top:-145px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #ADFF2F 0%, #1E90FF 100%);
    padding: 36px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);

}

.deck .card.open {
    transform: rotateY(0);
    background: 	#00BFFF;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    z-index: 1;
}

.score-panel .stars {
    margin-top: 20px;
    padding: 0;
    display: block;
    font-size: 70px;
    position:relative;
    z-index: 1;
    color: #FFD700;
}

.score-panel .stars li {
    list-style: none;
    position:relative;
    display: inline;
    width:300px;

}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.hidden{
  visibility: hidden;
}
.box{
  height:100px;
  width:100px;
}

.c1{
  background-image: url("../img/c1.png");
}
.c2{
  background-image: url("../img/c2.png");
}
.c3{
  background-image: url("../img/c3.png");
}
.c4{
  background-image: url("../img/c4.png");
}
.c5{
  background-image: url("../img/c5.png");
}
.c6{
  background-image: url("../img/c6.png");
}
.c7{
  background-image: url("../img/c7.png");
}
.c8{
  background-image: url("../img/c8.png");
}





/* Popup container */
.popup {
    position: absolute;
    margin-left: -225px;
    margin-top: -130px;
    font-size:30px;
    align:center;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    background-image: url("../img/ending.gif");
    width:500px;
    visibility: hidden;
    color: #fff;
    height: 370px;
    text-align: center;
    border-radius: 6px;
    margin-top:5em;
    margin-left:5em;
    position:absolute;
    z-index: 1;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.popup .hide {
    visibility: hidden;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity:0 ;}
}

.cronometer{
  font-size:2em;
  color:#7FFF00;
  width:5em;
  background: linear-gradient(290deg, 	#000080 0%, #1E90FF 100%);
  padding:0.5em;
  margin-left:0.2em;
  border-radius: 8px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display:inline;
}

.restart-buttom{
  font-size:2em;
  color:#7FFF00;
  width:2em;
  background: linear-gradient(290deg, 	#000080 0%, #1E90FF 100%);
  padding:0.5em;
  border-radius: 8px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display:inline;
  margin-right:0.2em;
}

.moves{
  font-size:2em;
  color:#7FFF00;
  width:7.5em;
  background: linear-gradient(290deg, 	#000080 0%, #1E90FF 100%);
  padding:0.5em;
  border-radius: 8px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display:inline;
}

.stars-score{
  height: 4em;
  color:#7FFF00;
  width:7em;
  background: linear-gradient(290deg, 	#000080 0%, #1E90FF 100%);
  padding:0.5em;
  border-radius: 8px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display:inline;
  padding-top:1em;
}

.stars-score .stars {
    padding: 0;
    display: inline;
    font-size: 2em;
    position:relative;
    color: #FFD700;
}

.score-panel-bottom{
  padding-bottom: 0.5em;
  margin: auto;
  width: 40em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

#restart-end-container{
  height:100px;
  color:#7FFF00;
  background: linear-gradient(290deg, 	#000080 0%, #1E90FF 100%);
  padding:0.5em;
  border-radius: 8px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  margin-top:100px;
}

#movescore{
  display:inline;
}

#restart-end{

  font-size: 50px;
}
